* {
    margin: 0;
    padding: 0;
}

header,
footer {
  background-color: #1F2937;
  margin: 0;
}

.navbar-left,
.navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.top {
  background-color: #1F2937;
  border: firebrick solid 5px;
  display: flex;
}

.top-left {
    display: flex;
    flex-direction: column;
}
.hero {
  font-size: 18px;
  color: white;
  align-self: flex-end;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 1rem;
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

img {
    width: 60%;
  border: firebrick 5px solid;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-end;
}



.foot {
    color: white;
}

button {
    background-color: #3882f6;
    color: white;
    max-width: 60px;
    border-radius: 20% 20%;
}

h1, span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.top-right, 
.top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 50px;
}